body{margin: 0;padding: 0;}
input{background: transparent;padding-left: 5px;border:none;border-bottom: 1px solid #6e92b7;width: 100px;}
input:hover, input:focus, input:active{border:none;outline:none;border-bottom: 1px solid #6e92b7;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input::-webkit-input-placeholder {color: #6e92b7;}
input::-moz-placeholder {color: #6e92b7;}
input:-ms-input-placeholder {color: #6e92b7;}
input:-moz-placeholder {color: #6e92b7;}
footer{text-align: center;padding: 2rem 0!important;}
footer p{margin: 0;color:#fff;}

.btn{padding: .15rem .75rem;}

/* Стили для текста */
h1, h2, h3, h4, h5, h6, p, span, button, label, input, textarea, th, td, ul, li, select{color: #333;}
.accentuated{font-weight: bold;}
.elusive{color: #555;}

/* Тестовый */
.input-block, .input-block p, .input-block, input{display: inline-block;}
.input-block p{margin: 0 5px;}




/* Стили значков */
.fa{font-size: 1.2rem;}
/* Стили значков конец */

/* Форма входа */
.full-box{width: 100%;height: 100vh;display: -webkit-flex;display: -ms-flex;display: flex;-ms-align-items: center;align-items: center;justify-content: center;}
.form-box{width: 90%;margin: 0 auto;}
form{display: -webkit-flex;display: -ms-flex;display: flex;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
form input, form select{margin: 10px 0;padding: 5px;border-top: unset;border-right: unset;border-left: unset;border-bottom: 1px solid #eee;outline: none;}
form [type="submit"]{padding: 10px 5px;background: #eee;border: unset;cursor: pointer;outline: none;}
form [type="submit"]:hover{background: #e3e3e3;}
.msg{font-weight: bold;color: tomato;}
/* Форма входа конец */

/* Стили секций */
section#header, section#footer{height: 50px;background-color: #777;}
section#content{background-color: #eee;padding: 0 1rem;}
section#content h1{font-size: 1rem;border-bottom: 1px solid #6e92b7;padding-bottom: 0.5rem;}
/* Стили секций конец*/

/* Стили навигации */
.nav-opt{display: inline-block;width: 100%;margin: 10px 0;}
#user-icon{font-weight: bold;}
.head-nav a:first-child{margin-left: 0;}
.head-nav a:last-child{margin-right: 0;}
.head-nav a{margin-left: 3px;margin-right: 3px;}
/* Стили навигации конец */

/* Стили блока входа-выхода */
.left-part{display: block;float: left;}
.right-part{display: block;float: right;}
.right-part span{font-size: 0.8rem;}
/* Стили блока входа-выхода конец */


/* Стили главной рабочей поверхности */
.area{position: relative;width: 100%;/*height: задаётся js;*/margin: 0 auto;padding: 15px;background: rgba(0,123,255,.25);border-radius: 10px;box-shadow: 0 2px 10px #3e6fb9;}
.area .full-accept{display: block;width: 253px;margin: 10px 0;}
	/* Стили блока результата */
.result{margin-top: 0.3rem;}
.result p{display: initial;border-bottom: 1px solid #6e92b7;}
	/* Стили блока результата конец */
/* Стили главной рабочей поверхности конец */